[Unit]
Description = Sensai webserver service
After = network.target

[Service]
WorkingDirectory=/home/ubuntu/dev/sensai
ExecStart = /home/ubuntu/.local/bin/gunicorn --threads 2 --bind localhost:5006 app:server
User = ubuntu
Group = ubuntu

[Install]
WantedBy = default.target
