html {
  font-family: "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: #2c3e50;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  /* color: #2980b9; */
  color: #e74c3c;
  font-size: 4rem;
  margin-top: 1rem;
  margin-bottom: 0;
  font-weight: 1000;
  line-height: 1.2;
  letter-spacing: -0.1rem;
}

body {
  font-size: 1.2em;
  line-height: 1;
  font-weight: 400;
}

.description {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-top: 1rem;
}

.last-updated {
  padding-left: 2rem;
  font-size: 0.75rem;
}


.datetime-slider {
  width: 40%;
  text-align: center;
  float: left;
  padding-right: 5%;
}

.var {
  width: 15%;
  text-align: center;
  display: inline-block;
  padding-right: 1%;
}

.label {
  font-weight: 1000;
  font-size: 0.95rem;
}

.dropdown {
  font-size: 0.9rem;
}

.device-dropdown {
  padding-left: 2%;
  width: 35%;
  text-align: center;
}

.controls {
    width: 95%;
}

.ts-graphs {
    width: 95%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.stats-graph {
    width: 80%;
    display: inline-block;
}

.stats-graph-container {
    display: flex;
    justify-content: center;
}

a:link,
a:visited {
  text-decoration: none;
  color: #2c3e50;
  border-bottom: 1px dotted;
}

a:hover {
  color: #c0392b;
}
