html {
  font-family: "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: #2c3e50;
  padding: 2rem;
}

h1 {
  color: #e74c3c;
  font-size: 4rem;
  margin-top: 1rem;
  margin-bottom: 0;
  font-weight: 100;
  line-height: 1.2;
  letter-spacing: -0.2rem;
}

body {
  font-size: 1.2em;
  line-height: 1;
  font-weight: 400;
}

.description {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 1rem;
}

.last-updated {
  font-size: 1.1rem;
  padding-right: 2rem;
  text-align: right;
}

code {
  font-family: "Fira Mono", "Fira Mono for Powerline", Menlo, Monaco,
    Consolas, "Liberation Mono", "Courier New", monospace;
  letter-spacing: -0.1rem;
  background-color: #eceff4;
  white-space: pre-wrap;
  padding: 2px 4px;
  border-radius: 3px;
}

.datetime-slider {
  width: 40%;
  text-align: center;
  float: left;
}

.rc-slider-mark {
  font-size: 1.1rem;
}

.var {
  width: 15%;
  text-align: center;
  align-items: center;
  display: inline-block;
  padding-right: 20px;
  padding-left: 20px;
}

.label {
  font-weight: bolder;
  font-size: 1rem;
}

.dropdown {
  font-size: 0.9rem;
}

.device-dropdown {
  width: 40%;
  text-align: center;
  align-items: center;
}

.controls {
  width: 95%;
}

.ts-graphs {
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.stats-graphs {
  width: 50%;
}

.stats-graphs-scatter {
  width: 100%;
}


@media (min-width: 1400px) {
  .stats-graphs {
    width: 700px;
  }

  .stats-graphs-scatter {
    width: 1400px;
  }

  .datetime-slider, .device-dropdown {
    width: 560px;
  }

  .var {
    width: 210px;
  }

}

.stats-graph-container {
  display: flex;
  justify-content: center;
  width: 95%;
}

a:link,
a:visited {
  text-decoration: none;
  color: #2c3e50;
  border-bottom: 1px dotted;
}

a:hover {
  color: #c0392b;
}

@media (max-width: 1000px) {
  
  html {
    padding: 2rem;
  }
  
  .label {
    padding-bottom: 1rem;
    padding-top: 3rem;
    align-items: center;
  }

  .device-dropdown {
    padding-top: 1rem;
    padding-bottom: 3rem;
    width: 60%;
    text-align: center;
  }

  .dropdown {
    align-items: center;
    padding-left: 1rem;
  }

  .controls {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .datetime-slider {
    width: 60%;
    padding-left: 4rem;
    text-align: center;
    padding-bottom: 1rem;
  }

  .var {
    width: 30%;
    text-align: center;
    padding: 1rem;
  }

  .stats-graph-container {
    display: flex;
    flex-direction: column;
  }

  .stats-graphs {
    width: 100%;
  }

}
